{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}

<div class="affirm-form">
	
	<input type="hidden" name="token" value="" /> 
	
	{% if automatic %}
	<div data-id="affirm-msg">
		The process should happen automatically, if if doesn't please <a href="#" data-id="affirm-proceed">click here</a>
	</div>
	{% else %}
	{% if button ?? true %}
	<div data-id="affirm-proceed" class="{{ buttonClass ?? '' }}">
		<svg width="244" height="60" viewBox="0 0 244 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
		<path d="M236.6 0.947266H7.43822C3.79613 0.947266 0.843628 4.52899 0.843628 8.94727V50.9473C0.843628 55.3655 3.79613 58.9473 7.43822 58.9473H236.6C240.242 58.9473 243.195 55.3655 243.195 50.9473V8.94727C243.195 4.52899 240.242 0.947266 236.6 0.947266Z" fill="#4A4AF4" stroke="#4A4AF4" stroke-width="2"/>
		<path d="M98.6084 37.0878C101.852 37.0878 103.998 35.3412 103.998 32.0974C103.998 28.8287 101.852 27.082 98.6084 27.082H92.3704V42.4026H95.5393V37.0878H98.6084ZM100.854 32.0974C100.854 33.4199 100.056 34.368 98.4088 34.368H95.5393V29.8018H98.4088C100.056 29.8018 100.854 30.725 100.854 32.0974ZM114.707 42.4026V35.2913C114.707 32.6214 112.986 30.9995 110.017 30.9995C107.471 30.9995 105.65 32.5465 105.326 34.5677H108.27C108.519 33.9189 109.043 33.5197 109.917 33.5197C111.164 33.5197 111.738 34.2932 111.738 35.2414V36.0648C111.289 35.7404 110.166 35.416 109.193 35.416C106.773 35.416 104.876 36.8632 104.876 38.9842C104.876 41.3047 106.773 42.6022 109.018 42.6022C110.241 42.6022 111.364 42.178 111.738 41.8037V42.4026H114.707ZM111.738 39.3584C111.464 39.9573 110.615 40.3316 109.717 40.3316C108.744 40.3316 107.746 39.9323 107.746 38.9592C107.746 38.011 108.744 37.5868 109.717 37.5868C110.615 37.5868 111.464 37.9611 111.738 38.56V39.3584ZM121.571 46.5197L127.385 31.249H124.266L121.721 38.6598L119.151 31.249H115.882L120.149 42.4525L118.527 46.5197H121.571ZM144.582 36.8383C144.582 33.3949 142.362 30.9995 139.118 30.9995C135.874 30.9995 133.653 33.3949 133.653 36.8383C133.653 40.2567 135.874 42.6521 139.118 42.6521C142.362 42.6521 144.582 40.2567 144.582 36.8383ZM141.513 36.8383C141.513 38.6847 140.665 40.0321 139.118 40.0321C137.571 40.0321 136.723 38.6847 136.723 36.8383C136.723 34.9669 137.571 33.6195 139.118 33.6195C140.665 33.6195 141.513 34.9669 141.513 36.8383ZM152.407 42.4026L156.649 31.249H153.53L151.01 38.6598L148.44 31.249H145.196L149.413 42.4026H152.407ZM164.775 38.7596C164.526 39.7078 163.752 40.1569 162.704 40.1569C161.332 40.1569 160.384 39.1588 160.284 37.487H167.72V36.5389C167.72 33.2701 165.923 30.9995 162.654 30.9995C159.535 30.9995 157.29 33.4698 157.29 36.8383C157.29 40.2817 159.461 42.6521 162.704 42.6521C165.499 42.6521 167.246 41.13 167.645 38.7596H164.775ZM162.679 33.5197C163.952 33.5197 164.651 34.4429 164.675 35.6156H160.359C160.633 34.2433 161.482 33.5197 162.679 33.5197ZM176.447 31.1991C176.272 31.0993 175.798 30.9995 175.274 30.9995C174.176 30.9995 173.253 31.5485 172.779 32.3469V31.249H169.685V42.4026H172.779V35.4909C173.003 34.4678 173.852 33.9189 174.9 33.9189C175.473 33.9189 176.022 34.0437 176.447 34.2932V31.1991ZM184.394 39.0341C184.394 41.5043 185.816 42.6272 188.087 42.6272C188.91 42.6272 189.659 42.5024 190.083 42.2778V39.5331C189.734 39.7577 189.21 39.9074 188.735 39.9074C187.937 39.9074 187.463 39.5082 187.463 38.6348V33.7442H189.908V31.249H187.463V28.2298H184.394V31.249H182.697V33.7442H184.394V39.0341ZM195.416 31.249H192.322V42.4026H195.416V31.249ZM195.69 28.0302C195.69 27.0072 194.842 26.2586 193.869 26.2586C192.871 26.2586 192.022 27.0072 192.022 28.0302C192.022 29.0782 192.871 29.8018 193.869 29.8018C194.842 29.8018 195.69 29.0782 195.69 28.0302ZM207.029 32.4218C206.405 31.5984 205.357 30.9995 204.035 30.9995C202.787 30.9995 201.764 31.4736 201.215 32.1723V31.249H198.121V42.4026H201.215V35.2164C201.415 34.2682 202.163 33.7692 202.962 33.7692C204.035 33.7692 204.534 34.5677 204.534 35.7653V42.4026H207.653V35.2164C207.852 34.2682 208.576 33.7692 209.374 33.7692C210.447 33.7692 210.971 34.5677 210.971 35.7653V42.4026H214.065V35.1166C214.065 32.5964 212.693 30.9995 210.398 30.9995C208.826 30.9995 207.753 31.6233 207.029 32.4218ZM223.427 38.7596C223.178 39.7078 222.404 40.1569 221.356 40.1569C219.984 40.1569 219.036 39.1588 218.936 37.487H226.372V36.5389C226.372 33.2701 224.575 30.9995 221.306 30.9995C218.187 30.9995 215.942 33.4698 215.942 36.8383C215.942 40.2817 218.112 42.6521 221.356 42.6521C224.151 42.6521 225.897 41.13 226.297 38.7596H223.427ZM221.331 33.5197C222.604 33.5197 223.302 34.4429 223.327 35.6156H219.011C219.285 34.2433 220.134 33.5197 221.331 33.5197Z" fill="white"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M20.3911 39.3593C19.5643 39.3593 19.1493 38.9515 19.1493 38.2809C19.1493 37.0361 20.5423 36.611 23.0837 36.3401C23.0837 38.0049 21.9586 39.3593 20.3911 39.3593ZM21.4868 29.9922C19.6708 29.9922 17.5809 30.8464 16.4466 31.7514L17.4825 33.9316C18.3925 33.0997 19.8636 32.3875 21.1906 32.3875C22.4506 32.3875 23.1466 32.8095 23.1466 33.6587C23.1466 34.2299 22.686 34.519 21.8135 34.6316C18.5558 35.0547 16.0002 35.9546 16.0002 38.4655C16.0002 40.456 17.4175 41.6603 19.6323 41.6603C21.2119 41.6603 22.619 40.7817 23.2876 39.6231V41.3356H26.2338V34.1589C26.2338 31.1954 24.1733 29.9922 21.4868 29.9922Z" fill="white"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M51.0605 30.3153V41.3351H54.2127V36.0251C54.2127 33.502 55.7406 32.7603 56.8058 32.7603C57.2228 32.7603 57.7828 32.8811 58.1531 33.1601L58.7273 30.2463C58.2414 30.0374 57.7321 29.9917 57.3151 29.9917C55.6939 29.9917 54.6753 30.709 54.0037 32.1668V30.3153H51.0605Z" fill="white"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M73.3425 29.9917C71.6756 29.9917 70.4287 30.9778 69.7805 31.9264C69.1788 30.6988 67.9026 29.9917 66.3747 29.9917C64.7078 29.9917 63.5543 30.9169 63.0217 31.9822V30.3153H59.9832V41.3361H63.1373V35.6639C63.1373 33.6268 64.2036 32.6498 65.1999 32.6498C66.1008 32.6498 66.9286 33.2321 66.9286 34.7377V41.3361H70.0787V35.6639C70.0787 33.6034 71.1196 32.6498 72.1616 32.6498C72.9955 32.6498 73.8741 33.2564 73.8741 34.7143V41.3361H77.0232V33.7191C77.0232 31.2416 75.3563 29.9917 73.3425 29.9917Z" fill="white"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M43.3875 30.3156H40.5316V29.1956C40.5316 27.7367 41.3635 27.3197 42.0818 27.3197C42.8751 27.3197 43.493 27.6717 43.493 27.6717L44.4649 25.4489C44.4649 25.4489 43.4798 24.8047 41.6881 24.8047C39.6733 24.8047 37.3815 25.9399 37.3815 29.505V30.3156H32.601V29.1956C32.601 27.7367 33.4329 27.3197 34.1512 27.3197C34.559 27.3197 35.1069 27.4141 35.5624 27.6717L36.5343 25.4489C35.954 25.109 35.0217 24.8047 33.7576 24.8047C31.7427 24.8047 29.4509 25.9399 29.4509 29.505V30.3156H27.6217V32.7464H29.4509V41.3354H32.601V32.7464H37.3815V41.3354H40.5316V32.7464H43.3875V30.3156Z" fill="white"/>
		<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="16" y="15" width="67" height="27">
		<path d="M16 41.7176H82.9588V15H16V41.7176Z" fill="white"/>
		</mask>
		<g mask="url(#mask0)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M45.267 41.3355H48.414V30.3157H45.267V41.3355Z" fill="white"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M63.6264 14.9424C55.1176 14.9424 47.535 20.8479 45.3832 28.4417H48.4663C50.2651 22.7877 56.3664 17.8236 63.6264 17.8236C72.4518 17.8236 80.077 24.5418 80.077 35.0006C80.077 37.3482 79.7736 39.4666 79.1974 41.3363H82.1892L82.2186 41.2328C82.7097 39.3042 82.9592 37.2072 82.9592 35.0006C82.9592 23.3366 74.4595 14.9424 63.6264 14.9424Z" fill="white"/>
		</g>
		</g>
		<defs>
		<clipPath id="clip0">
		<rect width="244" height="60" fill="white"/>
		</clipPath>
		</defs>
		</svg>
	</div>
	{% endif %}
	{% endif %}
	
	{% if showStatus ?? false %}
	<div data-id="affirm-processing" style="display:none;">Processing...</div>
	<div data-id="affirm-error" style="display:none;"></div>
	{% endif %}

</div>
<script>
 var _affirm_config = {
   public_api_key:  '{{ gateway.publicKey }}',
   script:          "https://cdn1-sandbox.affirm.com/js/v2/affirm.js",
 };
 
(function(m,g,n,d,a,e,h,c){var b=m[n]||{},k=document.createElement(e),p=document.getElementsByTagName(e)[0],l=function(a,b,c){return function(){a[b]._.push([c,arguments])}};b[d]=l(b,d,"set");var f=b[d];b[a]={};b[a]._=[];f._=[];b._=[];b[a][h]=l(b,a,h);b[c]=function(){b._.push([h,arguments])};a=0;for(c="set add save post open empty reset on off trigger ready setProduct".split(" ");a<c.length;a++)f[c[a]]=l(b,d,c[a]);a=0;for(c=["get","token","url","items"];a<c.length;a++)f[c[a]]=function(){};k.async=
!0;k.src=g[e];p.parentNode.insertBefore(k,p);delete g[e];f(g);m[n]=b})(window,_affirm_config,"affirm","checkout","ui","script","ready","jsReady");

affirm.checkout({
  merchant: {
	user_cancel_url: "{{ cancelUrl }}",
	user_confirmation_url: "{{ confirmationUrl }}",
	user_confirmation_url_action: "GET",
	merchant: "{{ siteName }}"
  },

  shipping: {
	name: {
	  first: "{{ cart.shippingAddress.firstName }}",
	  last: "{{ cart.shippingAddress.lastName }}"
	},
	address: {
	  line1: "{{ cart.shippingAddress.addressLine1 }}",
	  line2: "{{ cart.shippingAddress.addressLine2 }}",
	  city: "{{ cart.shippingAddress.locality }}",
	  state: "{{ cart.shippingAddress.administrativeArea }}",
	  country: "{{ cart.shippingAddress.countryCode }}",
	  zipcode: "{{ cart.shippingAddress.postalCode }}"
	},
	{% if (cart.shippingAddress.phone ?? null) %}phone_number: "{{ cart.shippingAddress.phone }}",{% endif %}
	email: "{{ cart.email }}",
  },
  billing: {
	name: {
	  first: "{{ cart.billingAddress.firstName }}",
	  last: "{{ cart.billingAddress.lastName }}"
	},
	address: {
	  line1: "{{ cart.billingAddress.addressLine1 }}",
	  line2: "{{ cart.billingAddress.addressLine2 }}",
	  city: "{{ cart.billingAddress.locality }}",
	  state: "{{ cart.billingAddress.administrativeArea }}",
	  country: "{{ cart.billingAddress.countryCode }}",
	  zipcode: "{{ cart.billingAddress.postalCode }}"
	},
	{% if (cart.billingAddress.phone ?? null) %}phone_number: "{{ cart.billingAddress.phone }}",{% endif %}
	email: "{{ cart.email }}",
  },
  metadata: {
	mode: "{{ mode ?? 'modal' }}"
  },
  items: [
	{% for lineItem in cart.lineItems%}
	{
	  sku: "{{ lineItem.sku }}",
	  display_name: "{{ lineItem.description }}",
	  unit_price: {{ lineItem.purchasable.salePrice * 100 }},
	  qty: {{ lineItem.qty }}
	}{{ not loop.last ? ',' }}
	{% endfor %}
  ],
  order_id: "{{ cart.number }}",
  currency: "{{ cart.paymentCurrency }}",
  total: {{ cart.total * 100 }}
});

var affirmProceed = function() {
	affirm.checkout.open({
		onFail: function(e){
			console.log(e)
			{% if onFail ?? null %}
				{{ onFail }}(e);
			{% else %}
				{% if showStatus ?? false %}
				document.querySelector('[data-id="affirm-error"]').innerHTML = e.reason;
				document.querySelector('[data-id="affirm-error"]').style.display = 'block';
				document.querySelector('[data-id="affirm-processing"]').style.display = 'none';
				{% endif %}
			{% endif %}
		},
		onSuccess: function(e){
			console.log(e)
			{% if onSuccess ?? null %}
				{{ onSuccess }}(e);
			{% else %}
				var $token = document.querySelector('input[name="token"]');
				$token.value = e.checkout_token;
				$token.closest('form').submit();
			{% endif %}
		},
		onOpen: function(e){
			console.log(e)
			{% if onOpen ?? null %}
				{{ onOpen }}(e);
			{% else %}
				{% if showStatus ?? false %}
				document.querySelector('[data-id="affirm-processing"]').style.display = 'block';
				{% endif %}
			{% endif %}
		},
		onValidationError: function(e){
			console.log(e)
			{% if onValidationError ?? null %}
				{{ onValidationError }}(e);
			{% else %}
				{% if showStatus ?? false %}
				document.querySelector('[data-id="affirm-error"]').innerHTML = e.reason;
				document.querySelector('[data-id="affirm-error"]').style.display = 'block';
				document.querySelector('[data-id="affirm-processing"]').style.display = 'none';
				{% endif %}
			{% endif %}
		}
	});
}
{% if automatic and not craft.app.session.hasFlash('error') and (paymentForm.getErrors() ?? [])|length == 0 %}
affirmProceed();
{% endif %}
document.querySelector('[data-id="affirm-proceed"]').addEventListener('click', function(e){
	e.preventDefault();
	affirmProceed();
})

</script>